{
  "TELEGRAM_BOT_TOKEN": "",
  "DONATE_LINK": "https://www.tinkoff.ru/sl/5ZlcyYuMcv5",
  "MAIN_CONTACT": "https://t.me/ikostyakov",
  "MAIN_UI": "TELEGRAM",
  "NEO4J_URL": "neo4j://localhost",
  "NEO4J_LOGIN": "neo4j",
  "NEO4J_PASSWORD": "0000"
}
